src/main/java/com/justdelivery/api/model/google/geoCode.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeocodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address_components" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="long_name"/>
                    <xs:element type="xs:string" name="short_name"/>
                    <xs:element type="xs:string" name="types" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="formatted_address"/>
              <xs:element name="geometry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bounds">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="northeast">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="lat"/>
                                <xs:element type="xs:float" name="lng"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="southwest">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="lat"/>
                                <xs:element type="xs:float" name="lng"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="lat"/>
                          <xs:element type="xs:float" name="lng"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="location_type"/>
                    <xs:element name="viewport">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="northeast">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="lat"/>
                                <xs:element type="xs:float" name="lng"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="southwest">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="lat"/>
                                <xs:element type="xs:float" name="lng"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="types"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>